@font-face {
    font-family: "philosopher";
    src: url('fonts/Philosopher-Regular.ttf');
}

*
{
    font-family: 'philosopher';
}

.title
{
    font-size: 35px;
}

.title-1
{
    font-size: 35px;
}

.title-1::after
{
    content: " ";
    display: block;
    position: absolute;
    background-color: white;
    width: 10%;
    height: 3px;
    border-radius: 25px;
    left: 45%;
    top: 27%;
}

.title::after
{
    content: " ";
    display: block;
    position: absolute;
    background-color: white;
    width: 6%;
    height: 3px;
    border-radius: 25px;
    left: 47%;
    top: 26%;
}

.img.img-cover
{
    padding-top: 45px;
    padding-bottom: 45px;
    width: 220px;
}

.btn-p1
{
    background-color: rgb(4, 179, 238);
    border: 0px;
}

.btn-p1:hover, .btn-p2:hover
{
    background-color: rgb(0, 116, 155);
}

.btn-p2
{
    color: rgb(4, 179, 238);
    border-color: rgb(4, 179, 238);
}

.row
{
    height: 90% !important;
}

.choice
{
    width: 30px;
    height: 30px;
}

.choice:checked
{
    background-color: rgb(4, 179, 238);
    box-shadow: none;
}

@media (max-width: 600px) {
    .title::after
    {
        content: " ";
        display: block;
        position: absolute;
        background-color: white;
        width: 15%;
        height: 3px;
        border-radius: 25px;
        left: 43%;
        top: 25%;
    }

    .title-1::after
    {
        content: " ";
        display: block;
        position: absolute;
        background-color: white;
        width: 18%;
        height: 3px;
        border-radius: 25px;
        left: 41%;
        top: 30%;
    }

    .row
    {
        width: 65% !important;
    }
}