/* Imports local font face */
@font-face {
    font-family: "philosopher";
    src: url('fonts/Philosopher-Regular.ttf');
}

/* Custom Styling */
*
{
    font-family: 'philosopher';
}

.row
{
    height: 100%
}

.title
{
    font-size: 35px;
}

.title-1
{
    font-size: 30px;
}

.title-1
{
    font-size: 30px;
    margin-top: -10%;
}

.title::after
{
    content: " ";
    display: block;
    position: absolute;
    background-color: white;
    width: 6%;
    height: 3px;
    border-radius: 25px;
    left: 47%;
    top: 24%;
}

.img.img-cover
{
    padding-top: 45px;
    padding-bottom: 45px;
    width: 250px;
}

.btn-p1
{
    background-color: rgb(4, 179, 238);
    border: 0px;
}

.btn-p1:hover, .btn-p2:hover
{
    background-color: rgb(0, 116, 155);
}

.btn-p2
{
    color: rgb(4, 179, 238);
    border-color: rgb(4, 179, 238);
}

.row
{
    height: 100% !important;
}

.choice
{
    width: 25px;
    height: 25px;
}

.choice:checked
{
    background-color: rgb(4, 179, 238);
    box-shadow: none;
}

#score
{
    background-color: rgb(4, 179, 238);
    height: 35px;
    padding-top: 2px;
}

.player::first-letter
{
    text-transform: capitalize !important;
}

.cell
{
    width: 30px;
    height: 130px;
    text-align: center;
    vertical-align: center;
}

.cell:hover
{
    background-color: rgba(172, 171, 171, 0.062);
}

.board
{
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid rgba(172, 171, 171, 0.226);
    border-radius: 15px;
}

.board td:not(:last-child)
{
    border-right: 1px solid rgba(172, 171, 171, 0.226);
}

.board tr:not(:last-child)>td
{
    border-bottom: 1px solid rgba(172, 171, 171, 0.226);
}

.board tr:first-child>td:first-child:hover
{
    border-top-left-radius: 15px;
}

.board tr:last-child>td:first-child:hover
{
    border-bottom-left-radius: 15px;
}

.board tr:first-child>td:last-child:hover
{
    border-top-right-radius: 15px;
}

.board tr:last-child>td:last-child:hover
{
    border-bottom-right-radius: 15px;
}

/* Mobile Specific Custom Styling */
@media (max-width: 600px) {
    .title::after
    {
        content: "";
        display: none;
    }

    .row
    {
        width: 100% !important;
    }

    .cell
    {
        width: 30px;
        height: 105px;
        text-align: center;
        vertical-align: center;
    }

    #score
    {
        width: 120px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
